.sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.sidebar-head{
    flex-basis: 12%;
    background: url("../images/sidebarimg.png");
    background-size: cover;
}

.sidebar-head h2{
    color: #fff;
    text-align: center;
    font-size: 2vw;
}

.sidebar-nav{
    flex-basis: 88%;
    display: flex;
    flex-direction: column;
}

.nav-box{
    flex: 1;
    background-color: #fff;
    box-shadow: 1px 3px 10px 0px rgba(56, 55, 55, 0.44);
    margin-top:5%;
    display: flex;
    flex-direction: column;
}

.sidebarlist{
    list-style: none;
    margin: 9% 0;
}

.sidebarlist li{
    margin: 9% 0;
    color: rgb(82, 81, 81);
}