.sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.sidebar-head{
    flex-basis: 12%;
    background: url("../images/sidebarimg.png");
    background-size: cover;
}

.sidebar-head h2{
    color: #fff;
    text-align: center;
    font-size: 2vw;
}

.sidebar-nav{
    flex-basis: 88%;
    display: flex;
    flex-direction: column;
}

.nav-box{
    flex: 1;
    background-color: #fff;
    box-shadow: 1px 3px 10px 0px rgba(56, 55, 55, 0.44);
    margin-top:5%;
    display: flex;
    flex-direction: column;
    padding:10% 10% 10% 10%;
}

.navlink{
    flex: 1;
    font-size: 1.5vw;
    color: rgb(94, 93, 93);
    display:flex;
    justify-content: space-between;
}

.navlink:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}

.icondiv{
    display: flex;
    align-items: center;
}

.sidebar-icon{
    margin-right:10px;
}